@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>fone:</strong>44 99953-5692<br />
    <strong>e-mail:</strong><a href="mailto:renatoodt@hotmail.com">renatoodt@hotmail.com</a><br />
</address>