@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Teste Supply</h1>
    <h2>Cenário</h2>
    <p class="lead">Uma livraria da cidade teve um aumento no número de seus exemplares e está com um problema para identificar todos os livros que possui em estoque. Para ajudar a livraria foi solicitado a você desenvolver uma aplicação web para gerenciar estes exemplares.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Requisitos</h2>
        <p>O sistema deverá mostrar todos os livros cadastrados ordenados de forma ascendente pelo nome; O sistema deverá permitir criar, editar e excluir um livro; Os livros devem ser persistidos em um banco de dados.</p>
        <h2>Outros Requisitos</h2>
        <p>Para a persistência dos dados deve ser utilizado algum framework de ORM.</p>
    </div>
    <div class="col-md-4">
        <h2>Diferenciais</h2>
        <p>Utilizar web api para comunicação entre front e backend.<br />
           Utilizar algum framework de frontend: React, Angular, Knockout, JQuery, Bootstrap.<br />
           Utilizar boas práticas de desenvolvimento, DDD, separação de camadas, Injeção de dependência.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Observações</h2>
        <p>O sistema deverá ser desenvolvido na plataforma .NET; Pode utilizar ASP .Net MVC; O código deve ser disponibilizado no Github.</p>
    </div>
</div>